{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    {{ include('include/_intro.html.twig') }}
    {{ include('include/_testimonial.html.twig') }}

    <section class="section faq-section bg-light-primary">
        <div class="container">
        </div>
    </section>
{% endblock %}
