<h2>Nous avons bien reçu votre message !</h2>

<h3>Ce dernier sera traité dans un délai de 48h.</h3>

<div>Cordialement, Team Garage V. Parrot </div><br/>

<div>
    <small>Pour se connecter à l'application, aller sur : <a href="{{ url('app_login') }}">{{ url('app_login') }}</a>.</small>
</div>
