<h2>Un avis a été déposée</h2>

<div>
    Un client au nom de {{ testimonial.fullname }} a envoyé un avis suivant à partir du formulaire en ligne :
</div>
<div>
    <i>{{ testimonial.comment }}</i>
</div><br/>
<div>
    <small>Pour se connecter à l'application, aller sur : <a href="{{ url('app_login') }}">{{ url('app_login') }}</a>.</small>
</div>
